*{
  margin: 0;
  padding: 0;
}
.app{
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 95vh;
  width: 98%;
  background-color:white ;
  border: 1px solid rgba(131, 121, 121,0.1);
  box-shadow:  0px 2px 2px 1 rgba(255, 249, 249, 0.897);
  font-family: "Poppins",sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
  

}
.top{
  flex: 0.4;
  border-bottom: 2px solid rgba(47, 47, 47,0.5);
  justify-items: center;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.top__left{
  flex: 0.7;
  border-right: 2px solid rgba(47, 47, 47,0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

}
.image{
  flex: 0.1;
}
.detail{
  flex: 0.9;
  display: flex;
  flex-direction: column;
}
.info{
  flex: 0.5;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px solid rgba(47, 47, 47,0.5);
}
.Name{
  border-bottom: 2px solid rgba(47, 47, 47,0.5);
}
.Name>h2{
  margin-top: 8px;
  margin-bottom: 15px;
  color: rgb(76, 127, 178);
  font-weight: 300;
  font-size: 23 px;
}
.product__status{
  flex: 0.5;
  margin-top: 15px;
  margin-left: 15px;
}
.product__status>h2{
  font-weight: 300;
  color: rgb(76,127,178);
}
.size{
  display: flex;
  justify-content: space-between;
}
.size>h2{
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(76, 127, 178);
}
.size>h2>strong{
  color: lightskyblue;
}
.top__right{
  flex: 0.3;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.order__id{
  flex: 0.3;
  border-bottom: 2px solid rgba(47, 47, 47,0.5);
}
.order__id>p{
  margin-top: 20px;
  color: rgb(76, 127, 178);
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
}
.order__address{
  flex: 0.7;
}
.order__address>h2{
  margin-top: 20px;
  color: lightskyblue;
}
.order__address>p{
  margin-top: 15px;
  letter-spacing: 1px;
  color: #2f2f2f;
  font-weight: 400;
}

.bottom{
  flex: 0.6;
  margin-top: 20px;
  display: flex;
  height: 500px;
}
.order_map{
  width: 25%;
  color: #f2f2f2;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, rgb(76,127,178) 0%, #5899e2 74%);
}
.vertical{
  background-image: linear-gradient(315deg, rgb(76,127,178) 0%, #5899e2 74%);

}
.order_map>h4{
  margin-top: 25px;
  margin-left: 20px;
  letter-spacing: 1.5px;
  font-weight: bolder ;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image{
  background-color: white;
  margin-top: 0px;
}
.payment{
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(315deg, rgb(76,127,178) 0%, #5899e2 74%);

}
.payment>h2{
  margin-top: 0px;
  padding: 15px;
  color: #f2f2f2;
  letter-spacing: 1px;
  font-weight: 300;
}


/* */
.order_vertical{
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.stepper-wrapper-vertical{
  height: 30vh;
}
.horizontal__wrapper{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
}
.vertical__wrapper{
  display: flex;
  align-items: center;
  position: relative;
  
}
.step__number{
  border-radius: 80%;
  border: 2px solid white;
  width: 18px;
  height: 18px;
  padding: 4px 3px;
  text-align: center;
  justify-content: space-between;
  margin-right: 1.2rem;
}
.step_number{
  border-radius: 80%;
  border: 2px solid white;
  width: 3px;
  background-color: #f2f2f2;
  height: 3px;
  padding: 4px 3px;
  text-align: center;
  justify-content: space-between;
  margin-right: 1.2rem;
}
.divider__line{
  height: 6rem;
  width: 2px;
  background-color:#f2f2f2;
  position: absolute;
  top: 100%;
  left: 14px;
}
.line{
  height: 1rem;
  width: 2px;
  background-color:#f2f2f2;
  position: absolute;
  top: 100%;
  left: 6px;
  
}
.wrapper_top{
  display: flex;
  align-items: center;
}
.wrapper_vertical{
  height: 2rem;
  justify-content: space-between;
}
.divider_line{
  height: 1rem;
  width: 2px;
  top:50%;
  left:10px
}